<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wingroad Homepage</title>
	<meta name="description" content="Artists, designers and photographers can sell their pieces.">
	<meta name="author" content="Baran Babur">
    <link href="styles/style.css" rel="stylesheet" />
	<link href="styles/home.css" rel="stylesheet" />
	<link href="styles/index.css" rel="stylesheet" />

</head>
<body>
    <header id="nav">
		<div class="nav-heading">
			<h1>
				<a href="/">Wingroad</a>
			</h1>
			<div class="nav-buttons">
				<button type="button" id="navBtn">
					<i class="fas fa-bars" id="navBurger"></i>
					<i class="fas fa-times hidden" id="navClose"></i>
				</button>
			</div>
		</div>

		<div class="hidden" id="navLinks">
			{{#if authorised}}
			<a href="/sell">Sell</a>
			<a href="/logout">Log out</a>
			{{else}}
			<a href="/login">Log in</a>
			<a href="/register">Register</a>
			{{/if}}
			<button id="theme">Toggle Theme</button>
		</div>
	</header>

	<section>
		<h1>Creators deserve to get paid for their work.</h1>
		<p>Wingroad makes it easy.</p>
		<div class="cta-container">
			<a href="/register" class="button btn-sell">Start selling</a>
			<a href="/home" class="button btn-view">View listings</a>
		</div>
	</section>
	<script src="main.js"></script>
</body>
</html>