:root {
	--light-card: rgb(255, 245, 188);
	--dark-card: rgb(240, 153, 23);
}

.header-msg {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 50vw;
	background-color: var(--light-card);
	color: var(--dark);
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 10px;
	position: relative;
}

@media (max-width: 600px) {
	.header-msg {
		width: 100%;
	}
	.header-msg p:nth-child(2) {
		font-size: small;
	}
}

@media (max-width: 350px) {
	.header-msg p:nth-child(2) {
		font-size: x-small;
	}
}

.msg-close {
	position: absolute;
	right: 5px;
	top: 0;
	padding: 5px;
	font-size: 1.25rem;
	opacity: 0.5;
	cursor: pointer;
}

.msg-close:hover {
	opacity: 1;
}

main a {
	text-decoration: none;
	background-color: #333;
	padding: 0.5rem;
	border-radius: 5px;
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	background-color: var(--light-card);
	max-width: 100%;
	margin: 1rem;
	position: relative;
	transition: all 0.3s ease-in-out;
}

.card:hover {
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
	scale: 1.03;
}

.card-heading {
	text-transform: capitalize
}

.card-item {
	padding: 0 1rem 1rem 1rem;
}

.card img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}

/* .card::after {
	content: '';
	background-color: #f6e58d;
	position: absolute;
	top: 8px;
	right: -15px;
	height: 100%;
	width: 15px;
	transform: skewY(45deg);
} */

/* .card::before {
	content: '';
	background-color: #f9ca24;
	position: absolute;
	bottom: -15px;
	left: 8px;
	width: 100%;
	height: 15px;
	transform: skewX(45deg);
} */

.card-info {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.card-field.status {
	text-transform: capitalize;
}

@media (min-width: 640px) {
	.card {
		max-width: 40%;
	}
}

@media (min-width: 1280px) {
	.card {
		max-width: 30%;
	}
}
