@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');

body {
    overflow: hidden;
}

section {
    background: url('https://images.unsplash.com/photo-1501505833572-38a6d86a242c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2378&q=80') no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    padding: 0;
    margin: 0;
}

section h1 {
    font-family: 'Muli:wght@400;700', sans-serif;
    font-size: 52px;
    max-width: 20ch;
    text-align: center;
    font-weight: bold;
    color: #eee;
}

section p {
    color: #fff;
    font-size: 1.2rem;
}

.cta-container {
    display: flex;
    justify-content: center;
}

.cta-container .btn-sell {
    margin-right: 1rem;
}

section a {
    background: #f4a123 linear-gradient(180deg,#f4a123,#f09712);
    color: white;
    border-radius: 4px;
    padding: 20px 30px;
    margin-top: 0.5rem;
}

.button {
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.12);
    transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
    display: inline-block;
    cursor: pointer;
    color: #fff !important;
    font-size: 24px;
    line-height: 100%;
    font-family: -apple-system,Helvetica Neue,Helvetica,Arial,sans-serif;
    text-decoration: none;
}