@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

:root {
	--light: #f9f9f9;
	--light-link: #f09712;
	--light-card: #9595ff;
	--dark: #333333;
	--dark-link: #f4a123;
	--dark-card: #6969db;
}

body {
	font-family: 'Muli', sans-serif;
	margin: 0;
	padding: 0;
	background-color: var(--light);
	color: var(--dark);
}

.hidden {
	display: none !important;
}

body.dark {
	background-color: var(--dark);
	color: var(--light);
}

body.dark .card {
	background-color: var(--dark-card);
}

body.dark a {
	color: var(--dark-link);
}

body.dark a:visited {
	color: var(--dark-link);
}

body.dark button {
	color: var(--dark-link)
}

body.dark #nav {
	background-color: var(--dark);
}

main {
	margin: 0 auto;
	width: 90vw;
	padding: 0 10px;
}

.nav-heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 3vw;
	margin: 0;
}

#nav {
	z-index: 3;
	background-color: var(--light);
}

#navLinks {
	padding: 0;
}

#nav a {
	margin-left: 2rem;
	margin-top: 0.3rem;
	padding: 1rem;
	display: block;
	text-decoration: none;
	color: var(--light-link);
}

#nav a:visited {
	color: var(--light-link);
}

 #nav button {
	color: var(--light-link);
	margin-left: 2rem;
	margin-top: 0.3rem;
	padding: 1rem;
	background-color: transparent;
	border: 0;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
}

#navLinks button:focus {
	outline: none;
}

.sticky {
	position: sticky;
	top: 0;
	width: 100%;
}

#nav i {
	font-size: 1.4rem;
}

@media (min-width: 640px) {
	#nav {	
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 1rem;
		/* height: auto; */
	}
	.nav-heading {
		padding: 0;
	}
	.nav-buttons {
		display: none;
	}
	#navLinks {
		display: flex !important;
		justify-content: space-around;
	}
	.nav-heading {
		padding: 1rem 2rem;
	}
}


/* formats the red message boxes */
aside {
	max-width: 25vw;
	margin: auto;
	position: absolute;
	top: 10vh;
	left: 50%;
	transform: translateX(-50%);
	z-index: 4;
}
.msg {
	border: 1px solid red;
	border-radius: 0.7rem;
	font-weight: bold;
	background-color: #f9f9f9;
	color: #ff4e4e;
	padding: 1rem 2em;
}

input[type='submit'] {
	border: 0;
	background-color: var(--light-link);
	padding: 1rem 2rem;
	border-radius: 0.3rem;
	font-size: 1rem;
	cursor: pointer;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

input[type='submit']:hover {
	background-color: var(--light-link);
	transform: scale(1.1);
	transition: all 0.3s ease-in-out;
}


input[type="text"], input[type="email"], input[type="password"], input[type="tel"], textarea, select {
	font-size: 1rem;
	max-width: 100%;
	width: 100%;
	border: 1px solid #cccccc;
	padding: 1rem;
}

@media (min-width: 640px) {
	input[type="text"], input[type="email"], input[type="password"], input[type="tel"], textarea, select {
		width: 30vw;	
	}
}

input:focus {
	outline: #aaaaaa solid 1px;
}

main form {
	/* height: 60vh; */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}